.DS_Store
._.DS_Store
**/bin/Debug/
MainApp/LSCK/LSCK\ Data/*
MainApp/LSCK/generatedWebsite/*
MainApp/**/bin/Debug/
MainApp/**/obj/Debug/
MainApp/**/bin/Release/
MainApp/**/obj/Release/
MainApp/*_i.c
MainApp/*_p.c
MainApp/*.ilk
MainApp/*.meta
MainApp/*.obj
MainApp/*.pch
MainApp/*.pdb
MainApp/*.pgc
MainApp/*.pgd
MainApp/*.rsp
MainApp/*.sbr
MainApp/*.tlb
MainApp/*.tli
MainApp/*.tlh
MainApp/*.tmp
MainApp/*.tmp_proj
MainApp/*.log
MainApp/*.vspscc
MainApp/*.vssscc
MainApp/.builds
MainApp/*.pidb
MainApp/*.log
MainApp/*.scc
MainApp/**/.vs/
